*
{
	margin: 0;
	padding: 0;
}
 /*----------Navigation-------*/

#nav-bar .about
{
  position:sticky;
  top:0;
  z-index: 10;
}




#navbar .index
{
  position:sticky;
  top:20;
  z-index: 20;

}


  /*-----CONTACTS---*/
   #contact {
  	
  	
  	text-align: center;
  	color: #000;
  	padding-left: 10px;
  	  	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(about.png);
     	background-size:cover;
     	background-position: center;
     	color: #efefef !important;
     	background-attachment: fixed;
     	padding-top: 50px;
     	padding-bottom: 50px;
     	padding-left: 250px;
  }

  .contact-form {
  	padding: 40px;
  	padding-left: 150px;
  	color: #efefef;

  }
  .form-control {
  	border-radius: 0 !important;
  	border: none !important; 
  	color: #efefef;
  	text-align: left; 
  }
  ::placeholder {
  	color: #999 !important;} 

  	.contact h1
  
  {
     	text-align: center;
     	color: #efefef !important;
     	padding-bottom: 10px;
     	padding-right: 250px;


     }

      #contact h1::after{
     	
     content:'';
				 background: #efefef;
					display:block;
					height: 3px;
					width: 170px;
					margin: 20px auto 5px;
				}
     