*
{
	margin: 0;
	padding: 0;
}


 /*----------Navigation-------*/

#nav-bar .about
{
  position:sticky;
  top:0;
  z-index: 10;
}

/*-----NEWS----*/
     #news
     {
     	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(news.jpg);
     	background-size:cover;
     	background-position: center;
     	color: #efefef !important;
     	background-attachment: fixed;
     	padding-top: 100px;
     	padding-bottom: 180px;
     	padding-left: 250px;
        
     }
        #news h1
     {
     	text-align: center;
     	color: #efefef !important;
     	padding-bottom: 10px;
     	padding-right: 250px;


     }

      #news h1::after{
     	
     content:'';
				 background: #efefef;
					display:block;
					height: 3px;
					width: 170px;
					margin: 20px auto 5px;
				}

	    #news p{
     	font-size: 15px;
     	color: #ccc;
     


     }
     .icon{
     	font-size: 100px;
     	margin: 20px auto;
     	padding: 20px;
     	height: 80px;
     	width: 80px;
     	 padding-top: 100px;
     	padding-left: 150px;

    }
